<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="fragment-footer" class="footer fixed-bottom bg-light">
    <div class="container m-3">
        <div class="row">
            <div class="col">
                <p>&copy; Simple Todo Application by Kotlin</p>
            </div>
            <div class="col">
                <p>개발자: Namju kim</p>
                <p>연락처: <a href="mailto:cmsong111@gmail.com">cmsong111@gmail.com</a></p>
            </div>
        </div>
    </div>
</footer>
</html>
