<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/header.html :: fragment-header}"></div>
</head>
<body>
<nav>
    <div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
</nav>

<div class="container mt-5">
    <h1 class="text-center m-3">투두 리스트</h1>
    <ul class="list-group">
        <li th:each="todo : ${todoList}" class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"  th:checked="${todo.isDone()}">
                <label class="custom-control-label" >
                    <h4 th:text="${todo.getTitle()}"></h4>
                    <p th:text="${todo.getContent()}"></p>
                </label>
            </div>
        </li>
    </ul>
</div>

<footer>
    <div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
</footer>

</body>
</html>
